.cabecalho {
    padding: 1em 10em;
    width: 80vw;
}

.cabecalho__lista {
    display: flex;
    justify-content: right;
    gap: 2em;
    
}

.cabecalho__lista__itens a {
    font-family: var(--font-plus-jakar);
    font-size: 20px;
    color: var(--cor-da-font);
    text-decoration: none;
    font-weight: 600;
}

@media screen and (min-width: 720px) and (max-width: 1220) {
    
    .cabecalho {
        width: 100%;
        padding: 10em 2em 3em 3em;
    }

    .cabecalho__lista {
        display: flex;
        justify-content: right;
        gap: 1em;
    }

    .cabecalho__lista__itens a {
        font-size: 16px;
        font-weight: 500;
    }


}